<div>
  <h2>
    Subir código fuente
    <mat-slide-toggle [(ngModel)]="uploadNewRepo"></mat-slide-toggle>
  </h2>
  <div *ngIf="uploadNewRepo" style="margin-bottom: 24px">
    <div class="file-selector">
      <button
        type="button"
        mat-flat-button
        color="accent"
        (click)="folderInput.click()"
      >
        Seleccionar archivos
      </button>
      <input
        hidden
        (change)="filesPicked(folderInput.files)"
        #folderInput
        type="file"
        name="files"
        webkitDirectory
      />
      <div class="desc" *ngIf="files.length > 0">
        {{ files.length }} archivos seleccionados
      </div>
    </div>

    <div *ngIf="files.length > 0">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Etiqueta</mat-label>
        <input matInput [(ngModel)]="repoDesc" />
      </mat-form-field>
      <div class="mat-checkbox-container">
        <mat-checkbox [(ngModel)]="privateRepo"
          >Repositorio privado</mat-checkbox
        >
      </div>
      <div class="selected-files">
        <p *ngFor="let file of files">{{ file.path }}</p>
      </div>

      <button mat-flat-button color="primary" (click)="uploadFiles()">
        Subir código fuente
      </button>
    </div>
  </div>

  <div *ngIf="repos.length > 0">
    <h2>Repositorios de código</h2>
    <app-repo
      *ngFor="let repo of repos"
      [repo]="repo"
      [reloadRepos]="getRepositories"
    ></app-repo>
  </div>
</div>
