.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

.project-update {
  display: flex;
  flex-direction: column !important;
  transition: background-color 0.55s ease-in;

  cursor: pointer;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    .title {
      font-size: 1.1rem;
      // margin: 0.25rem 0;
    }

    .date {
      font-size: 0.75rem;
      // margin-bottom: 0.5rem;
    }
  }

  .description {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
