<div class="as-header">
  <h1 *ngIf="!project || !project.name">Detalles del proyecto</h1>
  <h1 *ngIf="project && project.name">{{ project.name }}</h1>
</div>

<mat-card
  *ngIf="loading"
  class="mat-elevation-z0"
  style="
    min-height: 70vh;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <mat-spinner *ngIf="loading" diameter="50"></mat-spinner>
</mat-card>

<mat-accordion *ngIf="!loading && project">
  <mat-expansion-panel
    class="mat-elevation-z0"
    style="border-bottom: 1px solid #f5f5f5"
    expanded="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="margin-bottom: 0; font-size: 1.3rem">
          Detalles principales
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-main-details
      [projectData]="project"
      [loading]="loading"
    ></app-main-details>
  </mat-expansion-panel>

  <mat-expansion-panel
    style="border-bottom: 1px solid #f5f5f5"
    class="mat-elevation-z0"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="margin-bottom: 0; font-size: 1.3rem">Recursos gráficos</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-images
      [projectData]="project"
      [loading]="loading"
      [reloadProjectData]="getProjectData.bind(this)"
    ></app-images>
  </mat-expansion-panel>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1 style="margin-bottom: 0; font-size: 1.3rem">Categorías</h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-project-categories
      [projectData]="project"
      [loading]="loading"
      [reloadProjectData]="getProjectData.bind(this)"
    ></app-project-categories>
  </mat-expansion-panel>
</mat-accordion>
