<div class="as-header">
  <h1>Usuarios</h1>
  <div>
    <button
      primary
      mat-flat-button
      color="primary"
      (click)="openDialog('create')"
    >
      Crear usuario
    </button>
  </div>
</div>
<table mat-table matTableResponsive [dataSource]="users" style="width: 100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let element">{{ element.surname }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Correo</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Rol</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list style="grid-column: 1">
        <mat-chip *ngIf="element.role === 'admin'">
          <mat-icon>verified_user</mat-icon>
          Administrador
        </mat-chip>
        <mat-chip *ngIf="element.role === 'maintainer'">
          <mat-icon>build</mat-icon>
          Mantenedor
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th mat-header-cell *matHeaderCellDef>Habilitado</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon color="primary" *ngIf="element.enabled === true"
        >check</mat-icon
      >
      <mat-icon color="warn" *ngIf="element.enabled === false">close</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        class="ma-1"
        [disabled]="element._id === loggedInUserId"
        mat-icon-button
        color="warn"
        class="as-icon"
        (click)="openDeleteDialog(element)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        class="as-icon"
        (click)="openDialog('edit', element)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  style="min-width: 300px"
  [pageSize]="limit"
  [length]="totalItems"
  [pageIndex]="page - 1"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="updateUsersList($event)"
  showFirstLastButtons
></mat-paginator>
